@font-face {
    font-family: 'RR';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RB';
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RL';
    src: url(../font/Roboto-Light.ttf);
}