/* start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000000;
    --white: #FFFFFF;
    --gray: #808080;
    --RR: 'RR';
    --RB: 'RB';
    --RL: 'RL';
}

body{
    background: var(--black);
    font-family: var(--RR);
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* end */

/* Header start */

.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 54px;
    position: fixed;
}

.header__box-ul{
    display: flex;
}

.header__box-nav{
    display: flex;
    align-items: center;
}

.header__box-link{
    margin-left: 20px;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    transition: 500ms;
}

.header__box-link:hover{
    color: var(--gray);
}

.header__ul{
    padding-left: 346px;
}

.header__box-lin{
    font-size: 12px;
    line-height: 14px;
    color: var(--gray);
    margin-left: 20px;
    transition: 500ms;
}

.header__box-lin:hover{
    color: var(--white);
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 122px;
}

.header__content-title{
    color: var(--white);font-size: 64px;
    font-family: var(--RL);
    line-height: 75px;
}

.header__content-text{
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    font-family: var(--RL);
    text-align: center;
    text-transform: lowercase;
    width: 268px;
    color: var(--gray);
    margin-top: 26px    ;
    position: relative;
}

.header__content-text::before{
    content: '';
    width: 59px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    position: absolute;
    top: 100px;
    left: 100px;
}

.header__content-bg{
    width: 100%;
    padding-top: 50px;
}

/* Header end */

/* Main start */

.main__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__box-title{
    color: var(--white);
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    width: 177px;
    text-transform: uppercase;
    font-family: var(--RL);
}

.main__box-left{
    display: flex;
    align-items: center;
}

.main__left-ul{
    padding-top: 44px;
}

.main__left-li{
    color: white;
    font-size: 18px;
    line-height: 179.69%;
    margin-top: 11px;
}

.main__box-ul{
    padding-left: 130px;
}

.main__left-span{
    color: var(--gray);
}

.main__left-2{
    padding-top: 218px;
}

.main__left-text{
    color: var(--gray);
    font-size: 16px;
    line-height: 29px;
    margin-top: 45px;
    max-width: 490px;
}

/* Main end */

/* Footer start */

.footer{
    padding-top: 189px;
}

.footer__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__box-ul{
    display: flex;
    padding-top: 43px;
}

.footer__box-link{
    color: var(--white);
    font-size: 18px;
    font-family: var(--RR);
    line-height: 21px;
    margin-left: 20px;
    transition: 500ms;
}

.footer__box-link:hover{
    color: var(--gray);
}

.footer__box-gmail{
    color: var(--gray);
    margin-top: 28px;
    transition: 500ms;
}

.footer__box-gmail:hover{
    color: var(--white);
    cursor: copy;
}

.footer__box-contacus{
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 87px;
    margin-top: 30px;
    transition: 500ms;
}

.footer__box-contacus:hover{
    background: var(--white);
    color: var(--black);
}

/* Footer end */

@media(max-width:800px){
    .header__box-ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .header__box-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 197px;
    }

    .header__box-link{
        padding-left: 0;
    }

    .main__box-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer{
        padding-left: 331px;
    }

    .header__content-bg{
        width: 859px;
        padding-left: 389px;
    }

    .header__content-title{
        padding-left: 374px;
        font-size: 21px;
    }

    .header__content-text{
        padding-left: 374px;
        font-size: 19px;
        width: 0;
    }
}